{% extends "base.html" %}
{% load static from staticfiles %}

{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static 'css/gallery.css' %}">
{% endblock %}

{% block title %}{{ block.super }} - {{ photo.display_name }}{% endblock %}

{% block content %}
<h1>{{ photo.display_name }}</h1>
<!-- <div class="photo_nav"></div> -->

<div class="photo_detail">
<a href="{% url 'gallery:photo-original' pk=photo.pk %}">
    <img
        src="{% url 'gallery:photo-resized' preset='standard' pk=photo.pk %}"
        {# TODO: add some fallbacks for @alt #}
        alt="{{ photo }}"
    >
</a>
</div>

<div>
    <h2>Tags</h2>
    <ul>
        {% for tag in photo.tags.all %}
            <li><a href="{% url 'gallery:tag' pk=tag.id %}">{{ tag.name }}</a></li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
