{% extends "base.html" %}
{% load i18n %}
{% load static from staticfiles %}

{% block title %}{{ tag.name }} | Tags{% endblock %}

{% block content %}
<h1>Photos Tagged with &ldquo;{{ tag.name }}&rdquo;</h1>

<p>{{ tag.description }}</p>

<a href="{% url 'gallery:tags' %}">See all tags</a>

<section>
    <div class="photo_list">
        {% for photo in photos %}
        <a href="{{ photo.get_absolute_url }}">
            <img
                src="{% url 'gallery:photo-resized' preset='thumb' pk=photo.pk %}"
                width="128"
                height="128"
                {# TODO: add some fallbacks for @alt #}
                alt="{{ photo.title }}"
            >
        </a>
        {% empty %}
        <p>{% trans "Sorry, you aren't authorized to view any photos with this tag." %}</p>
        {% endfor %}
    </div>
</section>
{% endblock %}
