{% extends "base.html" %}
{% load static from staticfiles %}

{% block title %}{{ title }}{% endblock %}


{% block content %}
<h1>{{ title }}</h1>

<section>
    <ul>
    {% for tag in tags %}
        <li><a href="{% url 'gallery:tag' pk=tag.id %}">{{ tag.name }}</a></li>
    {% endfor %}
    </ul>
</section>
{% endblock content %}
